body {
  margin: 0;
  font-family: sans-serif; }

section {
  padding: 4rem;
  height: 80vh;
  position: relative;
  box-sizing: border-box; }

svg {
  position: absolute; }

.sticky {
  margin: 0 0; }
